/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

:root {
  --bg-color: #343541;
  --input-color: rgb(64, 65, 79);
  --input-text: #8e8ea0;
  --chat-color: #444654;
  --panel-color: #202123;
  --text-color: #f2f2f2;
  --logo-color: #10a37f;
  --font: "Lato", sans-serif;
}

body {
  font-family: var(--font);
  background-color: var(--bg-color);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 0px;
}
